<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="nhcarrigan's Discord integrations" />
    <meta
      property="og:url"
      content="https://discord-integrations.nhcarrigan.com"
    />
    <meta
      property="og:description"
      content="A collection of various Discord webhook integrations."
    />
    <title>Discord Integrations</title>
    <style>
      body {
        background-color: #3a3240;
        color: #aea8d3;
        text-align: center;
        margin: 0;
      }
      a {
        color: #aea8d3;
      }
    </style>
  </head>
  <body>
    <p>
      I'm so sorry, but there's nothing to see here. This web server is designed
      to power some neat Discord integrations.
    </p>
    <p>
      You should come check them out
      <a href="http://chat.nhcarrigan.com">my chat server instead.</a>
    </p>
  </body>
</html>
